# __Documentation__

##### The data I am using is the top 1000 of the most money made from a single industry around the world.
##### Aim - Rank the industries in money and occurrences, and find the top 5 most occurring countries.
##### Source - https://www.kaggle.com/datasets/waqi786/1000-richest-people-in-the-world, my data is publicly available.
##### --------- I also made a excel and csv file copy of all the data.
##### I will access my data via a csv file.
# ________________________________________________________________________________________________________________________________________________________

## Functional Requirements
##### - Data loading and data cleaning: Data must be a csv file. Data must be ready for analysis and be free of any unnecessary information.
##### _Actor: User_
##### _Goal: To load a dataset into the system._
##### _Preconditions: User has a dataset file ready._
##### _Main Flow: User places the dataset for reading into the correct folder. System validates the file format. System loads the dataset and displays the information in a dataframe._
##### _Postconditions: Dataset is loaded and ready for analysis._
### |
##### - Data analysis: Must be correctly analysed.
##### _Actor: User_
##### _Goal: To correctly analyse data._
##### _Preconditions: User has a dataframe ready to use._
##### _Main Flow: User places the dataframe for reading into the correct folder. System validates the file format. System loads the dataframe and withdraws all the useful data._
##### _Postconditions: Analysis is completed and ready for visualisation._
### |
##### - Data visualisation: Data must be visually pleasing and easy to interpret.
##### _Actor: User_
##### _Goal: To load the data into a suitable graph to display the information._
##### _Preconditions: User has an analysed dataframe file ready._
##### _Main Flow: User places the dataframe for reading into the correct folder. System validates the file format. System loads the data and displays the information on a graph using pandas._
##### _Postconditions: Information is displayed as a graph and ready to be reported._
### |
##### - Data reporting: The report must satisfy the aim (Ranking the industries in money and occurrences, and finding the top 5 most occurring countries.)
##### _Actor: User_
##### _Goal: To report the final dataset as a csv file._
##### _Preconditions: User has a graph with useful information._
##### _Main Flow: User places the dataframe for reading into the correct folder. System validates the file format. System loads the dataframe as a csv file._
##### _Postconditions: Data is saved._
# ________________________________________________________________________________________________________________________________________________________

## Non-functional Requirements
##### Useability: _The user interface must be clear enough for the user to understand and account for any errors the user makes (e.g entering a number that is not an option)_
##### Reliability: _My program must state the source of the data (kaggle.com) and must be constantly updated to provide the most accurate data so it is up to date._
##### Security: _Users must be authorised to use the data. Program will ask for a password to add a layer of security. Password: 'ApAsSwOrD'_
# ________________________________________________________________________________________________________________________________________________________

## Research of Chosen Issue

##### Purpose: _The purpose of my data/information is to rank the industries in money and occurrences, and find the top 5 most occurring countries._

##### Missing Data: _It was necessary to carry out this analysis because the information providing the most lucrative industries and countries was missing._

##### Stakeholders/Use : _My information may be benificial to investors hoping to invest money in rising and successful industries and countries._

## Privacy and Security
##### The source (Kaggle) needs to protect all the names of the people, numerical statistics (net worth), and the names of the buisnesses.
##### As a user of the data, I need to acknowledge this data was from Kaggle and use the least amount of data neccessary. Some of this data is identifiable such as the names of people and companies, but the statistics aren't.
##### If I were to push a public application, I would ask for a username and password, acknowledge the source of the data and use the least amount of data required.
### __Definitions__
##### user authentication: _verifying that someone who is attempting to access services/applications is who they claim to be_
##### password hashing: _turns your password into a string of letters and/or numbers using encryption_
##### encryption: _a way to scramble data so that only authorized parties can unscramble it_
# ________________________________________________________________________________________________________________________________________________________

## My Data Dictionary
| Field | Datatype | Format for Display | Description | Example | Validation |
|:--------:|:--------:|:--------:|:--------:|:--------:|:--------:|
| country | object | XX…XX | Name of the country of lucrative industry | USA | Can be any amount of characters but must not include numbers. |
| industry | object | XX…XX | Name of the industry | Technology | Can be any amount of characters but must not include numbers. |
| revenue |  float64 | NNN.NN | Total revenue (in billions) | 120.44 | Must be a decimal number to 2 decimal places. |
# ________________________________________________________________________________________________________________________________________________________

In [21]:
# Loading Data into a Dataframe
# -----------------------------
# import modules
import matplotlib.pyplot as plt
import pandas as pd

# import into pandas dataframe
dataframe = pd.read_csv("data/1000_richest_people_in_the_world.csv")
dataframe

,Name,Country,Industry,Net Worth (in billions),Company
0,Rob Walton,Mexico,Finance,8.50,Walmart
1,Sergey Brin,USA,Automotive,44.76,Google
2,Steve Ballmer,USA,Manufacturing,13.43,Koch Industries
3,Mukesh Ambani,USA,Technology,120.44,Google
4,Jim Walton,USA,Fashion,122.39,Walmart
...,...,...,...,...,...
995,Warren Buffett,USA,Retail,142.66,Facebook
996,Amancio Ortega,USA,Media,166.87,Walmart
997,Alice Walton,USA,Retail,30.44,Walmart
998,Amancio Ortega,Spain,Retail,163.18,Reliance Industries
999,Jim Walton,USA,Retail,186.94,Berkshire Hathaway

In [22]:
# Cleaning the Dataframe
# import modules
import matplotlib.pyplot as plt
import pandas as pd

# Dataframe Cleaning
cleaned_dataframe = pd.read_csv("data/1000_richest_people_in_the_world.csv", usecols = ['Country ', 'Industry           ', 'Net Worth (in billions) '])
cleaned_dataframe

     Country   Industry             Net Worth (in billions)
0    Mexico    Finance                                  8.50
1    USA       Automotive                              44.76
2    USA       Manufacturing                           13.43
3    USA       Technology                             120.44
4    USA       Fashion                                122.39
..        ...                  ...                       ...
995  USA       Retail                                 142.66
996  USA       Media                                  166.87
997  USA       Retail                                  30.44
998  Spain     Retail                                 163.18
999  USA       Retail                                 186.94

[1000 rows x 3 columns]

In [65]:
# Ranking the Industries in Frequency
# import modules
import matplotlib.pyplot as plt
import pandas as pd

# Dataframe Cleaning
cleaned_dataframe = pd.read_csv("data/1000_richest_people_in_the_world.csv", usecols = ['Country ', 'Industry           ', 'Net Worth (in billions) '])

# using value_counts()
MostOccurencesIndustry = cleaned_dataframe.value_counts(['Industry           '])

Industry
Technology             350
Retail                 217
Manufacturing           94
Media                   57
Telecommunications      51
Cosmetics               51
Finance                 50
Fashion                 44
Automotive              43
Petrochemicals          43
Name: count, dtype: int64

In [64]:
# Ranking the Industries in Money
# import modules
import matplotlib.pyplot as plt
import pandas as pd

# Dataframe Cleaning
cleaned_dataframe = pd.read_csv("data/1000_richest_people_in_the_world.csv", usecols = ['Country ', 'Industry           ', 'Net Worth (in billions) '])

# using dataframe.nlargest()
dataframeTopMoney = cleaned_dataframe.nlargest(10, 'Net Worth (in billions) ')
dataframeTopMoney

     Country   Industry             Net Worth (in billions)
616  USA       Retail                                 199.24
584  USA       Finance                                199.21
115  France    Retail                                 199.20
913  USA       Technology                             199.10
91   USA       Manufacturing                          199.00
667  India     Manufacturing                          198.77
915  USA       Retail                                 198.34
377  India     Technology                             198.05
962  USA       Petrochemicals                         198.05
376  Mexico    Petrochemicals                         197.60

In [27]:
# Finding the Top 5 Most Occurring Countries
# import modules
import matplotlib.pyplot as plt
import pandas as pd

# Dataframe Cleaning
cleaned_dataframe = pd.read_csv("data/1000_richest_people_in_the_world.csv", usecols = ['Country ', 'Industry           ', 'Net Worth (in billions) '])

# using dataframe.apply()
fiveMostOccurencesCountry = cleaned_dataframe.apply(lambda x: pd.Series(x.value_counts().index[:5]))
fiveMostOccurencesCountry

   Country   Industry             Net Worth (in billions)
0  USA       Technology                             116.42
1  France    Retail                                 185.43
2  Mexico    Manufacturing                           65.74
3  Spain     Media                                   58.90
4  India     Telecommunications                     167.65